body{
font-family: 'Encode Sans Condensed', sans-serif;
overflow-x: hidden;

}
a{
margin-left: 15%;
text-decoration: none;
}
.left img{
    width: 100vw;
}
.right p{
    margin-top: -20%;
    color: white;
}
.right{
    margin-top: -40%;
}
#sophisticated{
    margin-left: 5%;
    font-size: 30px;
    font-weight: bolder;
}
#discover{
    width: 10%;
    height: 7vh;
    margin-left: 5%;
    color: white;
    border-color: #ff6b6b;
    background-color: #ff6b6b;
}
.dresses{
    margin-top: 30%;
}
.selection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 5%;
}    
.selection img {   
    width: 63%;
    height: 45vh;
}
#week {
    text-align: center;
  
}
#clothes{
    text-align: center;  
}
.icons{
    width: 50px;
    height: 50px;
    margin-bottom: 90%;
    margin-left: 10%;
}
#view{
    background-color: #ff6b6b;
    border-color: #ff6b6b;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    width: 20%;
    height: 10vh;
    margin-left: 40%;
    margin-top: 3%;

}

.allshoes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5%;
}
.sportp{
    margin-top: -20%;
    color: white;
    margin-left: 5%;
    
}
.leftside img{
   width: 98%;
}
.rightside img{
    width: 100%;
    height: 76vh;
}
.topp{
    margin-top: -20%;
    color: white;
    margin-left: 5%;
 
}
.bottomp{
    margin-top: -20%;
    color: white;
    margin-left: 5%;
    
}
.show{
    width: 15%;
    height: 5vh;
    color: white;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
   
}
.shopify{
    text-align: center;
    margin-top: 5%;
    margin-top: 5%;
}
.shopify img{
    width: 100vw;
    height: 98vh;
    margin-bottom: 10%;
    margin-top: 5%;
}
.play{
    background-color: white;
    border: solid, #ff6b6b;
    border-radius: 100%;
    margin-top: -10%;

}
.icon{
    width: 70px;
    height: 50px;
}
#social{
    width: 40px;
    height: 30px;
}
#subscribe{
    background-color: #ff6b6b;
    border-color: #ff6b6b;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    width: 50%;
    height: 7vh;
    margin-top: 5%;
}
input{
    width: 80%;
    height: 6vh;
    margin-top: 5%;
}
#money{
    width: 40px;
    height: 30px;
    margin-left: 3%;
    margin-top: 11%;
}
footer{
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}